
@import url(font-awesome.min.css);
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Bold.ttf) format("ttf");
    src: url(../fonts/Raleway-Bold.woff) format("woff");
}
body{
    background-color: #eaedf3;

}
*{
    margin: 0px;
}
a{
    text-decoration: none;
    color: #fff;

}
.nav ul li a{
    color:rgba(255, 255, 255, .5);
    transition: color .2s ease-in-out;
}
.header h1{
float: left;
}
.nav{
    text-align: right;
}
.nav ul li{
    padding: 0 15px;
    list-style-type: none;
    display: inline;
}
.nav a:hover{
    color: #fff;

}
.top-menu{
    padding: 40px;
}
.btn{
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.5vw;
    color:#ffffff;
    border: none;
    cursor: pointer;
    text-align: center;
}
.btn-gray{
    background-color: #fff;
    color: #444!important;
}
.btn-big{
    font-size: 2.5vw!important;
}
.btn-blue{
    background-color:#3cadd4 ;
    color: #fff;
}
.btn-dark{
    background-color:#383b43 ;
    color: #ffffff;
}

.header{
    background-image:url(../img/dark_tint.png), url(../img/bokeh_car_lights_bg.jpg);
    background-position: center center;
    background-size: cover;
}
.baner-content{
    text-align: center;
    color: #fff;
    padding: 200px 0;
}
.baner-content h2{
    font-size: 5vw;
    line-height: 130px;
}
.baner-content p{
    font-size: 2.5vw;
    margin-bottom: 20px;
}
.services{
    background-color: #f5f5f5;
    border-bottom: 2px solid rgba(144, 144, 144, .25);
    border-top: 2px solid rgba(144, 144, 144, .25);
    padding: 100px 0;
    text-align: center;

}
.services h2{
    font-size: 40px;
    margin-bottom: 20px;
    color:rgb(14 13 13 / 69%) ;
}
.services p{
    font-size: 25px;
}
.icon::before{
    font-family:FontAwesome;
    font-style: normal;
}
.icon-blue{
color: #fff;
background-color: #3cadd4;
}
.icon-green{
    color: #fff;
    background-color: #4add25;}
 .icon-red{
        color: #fff;
        background-color: #c20830;}
.big{
    font-size: 40px;
    padding: 35px 50px;
}
.rounded{
    border-radius: 100%;
}
.services-content>*{
    float: left;
    }
.box{
    background-color: #fff;
    border: 1px solid rgba(144,144,144,.25);
    border-radius: 5px;
    padding: 70px 30px;
    margin: 0 10px;
    width: calc(calc(100% / 3) - 82px);
}
.services-content:after,
.services-content:before{
    content: '';
    clear: both;
    display: block;
}
.box h3{
font-family: "Raleway";
color: #484a52;
margin: 50px 0px 30px 0;
font-size: 24px;
}
.box p{
    line-height: 32px;
}
.services-content{
    width: 85%;
    margin: 0 auto;
}
@media  only screen and (max-width:835px){
.box{
    width: 100%;
    padding: 60px 0;
margin: 10px 0;
}
}
.about{
    text-align: center;

}
.about-header{
    background-color: #eaedf3;
    /* text-align: center; */
    padding: 50px 0;
}
.about-header h2{
font-family: "Raleway";
/* margin-bottom: 20px; */
color: #3d3a3a;
line-height: 80px;
}
.about-header p{
    font-family: "Raleway";
    color:#8f8b8b ;
}
.about-content{
    border-top:2px solid #8f8b8b ;
    border-bottom:2px solid #8f8b8b;
    margin: 60px auto;
    padding-top: 60px;
    width: 80%;
}
.about-content>*{
    float: left;

}
.profile{
     width: 25%;
    background-color: #eaedf3;
    margin-bottom: 60px;

}
.about-content:after,
.about-content::before{
    content: '';
    display: block;
    clear: both;
}
.profile img{
    border-radius: 50px;
    float: left;
}
.profile h4{
    margin-top: 20px;
}
.profile p{
    line-height: 25px;
}
@media only screen and (max-width:900px) {
    .profile{
        width:50%;
    }
    
}
.about-footer{
   width: 65%;
   margin: 0 auto;
}
.about-footer button{
    margin-top: 50px;
}
.contact{
    background-color: rgb(8, 125, 221);
    padding: 100px 0;
}
.contact-header{
    text-align: center;
    color: #fff;
}
.contact-header h3{
    font-size: 40px;
    font-family: "Raleway";
    margin-bottom: 25px;
}
.contact-header p{
    font-size: 25px;
    font-family: "Raleway";
    margin-bottom: 25px;
}
.txt{

}
.contact-content{
    text-align: center;
}
input[type="text"],
input[type="email"]{
    border-radius: 10px;
    border: 0;
    padding: 15px 5px;
    width: 25%;
    margin-bottom: 20px;
}
textarea{
    border-radius: 10px;
    border: 0;
    padding: 15px 13px;
    width: 50%; 
    height: 200px;
}
.contact-content button{
    margin-top: 30px;

}
::placeholder{
    color: #858585!important;
    font-family: "Raleway";
    font-size: 15px;
}
.footer{
    background-color: #383b43;
    padding: 100px 0;
}
.footer li{
    text-decoration: none;
    display: inline;
    margin: 0 5px;
    color: #858585!important;
    font-family: "Raleway";
    font-size: 20px;
}
.footer a{
    color: #858585!important;
    font-family: "Raleway";
    font-size: 20px;
}



    

